extends ./layout.pug

block title
	- var titlePage = 'Home';

block vars
	- var bodyClass = 'home';
	- var lang = 'pt';


block content
	main.main
		section.banner--video
			.item-video--fullscreen
				//- .js-video.videoWrapper
				video(autoplay, width="100%", muted, loop)
					source(src=imgHref + "videos/luanda.mp4" type="video/mp4")
					
				.item-banner--fullscreen---downbutton
					a(href="#under-the-fold")
						img(src="img/arrow-dot.png", alt="")
							
			//- .item-banner--fullscreen(style="background-image: url(" + imgHref + "img/_content/angola.jpg);")
				//- .item-banner--fullscreen---primary
					h2 Temos expertise em soluções para internet
		
				//- .item-banner--fullscreen---second
					p Somos uma equipe com base em Angola




		//- section.grid--alternate
			.container
				.row
					.col-xs-12
						.item-title
							h2 Sobre a NSWS Solution

				.card-grid--alternate
					.item-parallax-1
					.item-parallax-2
					.row
						.col-xs-12
							p Temos <strong>soluções especializadas</strong> em TI para pequenas, médias e grandes companhias, bem como profissionais ágeis.
						
							p Contamos com uma <b>equipe altamente qualificada</b>, capaz de oferecer serviço com <b>excelência</b> por um <b>baixo custo e grande benefício</b>.

		
		section#about
			.relative
				.item-parallax-3
				.item-parallax-4
				.item-parallax-5
			.container
				.item-alternate
					.row
						.col-xs-12.col-sm-6
							.item-alternate--texts-wrap
								.item-alternate--title.item-animation
									h3 Serviços para facilitar a vida de sua empresa
									
								.item-alternate--text.item-animation
									p A mais de oito anos, actuando no seu Core Business: Sistemas e Tecnologias de Informação, baseada numa equipa de profissionais Ágeis com vasta experiencia nas áreas de infraestruturas, virtualização, segurança, webdesign, desenvolvimento e integração.
								
								//- .item-alternate--button.item-animation
									.item-section--button
										a.button(href="about-us.html")
											span Saiba mais
						

						.col-xs-12.col-sm-6
							.item-alternate--image.item-animation
								img(src=imgHref + "img/_content/computer.png", alt="")


					.row
						.col-xs-12.col-sm-6
							.item-alternate--texts-wrap
								.item-alternate--title.item-animation
									h3 Qualidade e eficiência
									
								.item-alternate--text.item-animation
									p Criada com a missão de apoiar as pequenas, médias e grandes companhias nas suas necessidades tecnológicas, tendo uma gama de serviços e produtos informáticos, de modos a permitir às empresas o acesso a tecnologia de ponta ao melhor custo e beneficio.
								
								//- .item-alternate--button.item-animation
									.item-section--button
										a.button(href="about-us.html")
											span Saiba mais
						

						.col-xs-12.col-sm-6
							.relative
								.item-parallax-6
								.item-parallax-7
								.item-parallax-8
							.item-alternate--image.item-animation
								img(src=imgHref + "img/_content/computer2.png", alt="")



					.row
						.col-xs-12.col-sm-6
							.item-alternate--texts-wrap
								.item-alternate--title.item-animation
									h3 Ok
									
								.item-alternate--text.item-animation
									p Precisa de consultoria, esclarecimento ou apoio para alguma tomada de decisão, marque já a sua primeira sessão de consulta sem qualquer compromisso ou custo preenchendo o formulário de contacto e bem-vindo!
								
								//- .item-alternate--button.item-animation
									.item-section--button
										a.button(href="about-us.html")
											span Saiba mais
						

						.col-xs-12.col-sm-6
							.relative
								.item-parallax-3
								.item-parallax-4
								.item-parallax-5
							.item-alternate--image.item-animation
								img(src=imgHref + "img/_content/computer3.png", alt="")
			



		//- section
			.container
				.row
					.col-xs-12
						.item-section--button
							a.button(href="about-us.html")
								span Saiba mais

		section.grid--portfolio#projects
			.container
				.row
					.col-xs-12
						.item-section--title.item-animation
							h2 Últimos trabalhos em web design

						.relative
							.swiper-container.card-slider--single
								.swiper-wrapper
									.swiper-slide
										.card-grid--portfolio
											ul
												li
													.item-grid--portfolio---image
														.item-grid--portfolio---screenshot
															.item-grid--portfolio---screenshot----mobile
																img(src=imgHref + "img/_content/screenshot/coop/mobile.png", alt="")
														.item-grid--portfolio---screenshot
															.item-grid--portfolio---screenshot----tablet
																img(src=imgHref + "img/_content/screenshot/coop/tablet.png", alt="")

														.item-grid--portfolio---screenshot
															.item-grid--portfolio---screenshot----notebook
																img(src=imgHref + "img/_content/screenshot/coop/notebook.png", alt="")


									.swiper-slide
										.card-grid--portfolio
											ul
												li
													.item-grid--portfolio---image
														.item-grid--portfolio---screenshot
															.item-grid--portfolio---screenshot----mobile
																img(src=imgHref + "img/_content/screenshot/coop/mobile.png", alt="")
														.item-grid--portfolio---screenshot
															.item-grid--portfolio---screenshot----tablet
																img(src=imgHref + "img/_content/screenshot/coop/tablet.png", alt="")

														.item-grid--portfolio---screenshot
															.item-grid--portfolio---screenshot----notebook
																img(src=imgHref + "img/_content/screenshot/coop/notebook.png", alt="")


								.swiper-button-prev
								.swiper-button-next

							.swiper-pagination

				


		section#services.no-lateral-gap
			.container-fluid
				.row
					.col-xs-12
						.item-section--title.item-animation
							h2 Serviços

				.row
					.col-xs-12
						.card-grid--service-list
							ul
								li
									.item-grid--service-list---item
										.item-grid--service-list---title.item-animation
											p Network
											
										.item-grid--service-list---icon.item-animation
											img(src=imgHref + "img/_content/icons/010-community.png", alt="")

										.item-grid--service-list---description.item-animation
											p Com a evolução tecnológica constante, bem como as constantes mudanças que os decisores procuram, os recursos limitados, os desafios de capacidade e as restrições orçamentais estão no topo das suas preocupações. No entanto não deverá preocupar-se com a sua infra- estrutura. Isso faz parte do nosso trabalho. Com o aparecimento da cloudcomputing, da virtualização e da mobilidade, a NSWS-Solution está actualmente alinhada com as exigências e as tendências do mercado. Oferecemos a tecnologia, processos e as pessoas de que os clientes precisam para transformar as suas infra-estruturas de TI, alcançando eficiência, redução nos custos e outros resultados estratégicos para o negócio 
											
											p Fizemos planificação e instalação de redes informáticas, temos a sua disposição uma equipa de profissionais especialistas em redes e sistemas informáticos com uma vasta experiência. Esta planificação é efectuada em conjunto com os clientes, respondendo às necessidades específicas de cada empresa. A manutenção de uma rede informática garante a estabilidade essencial para uma boa comunicação, quer a nível das comunicações de voz e de dados. Procuramos a melhor solução, com a garantia de uma óptima relação custo benefício, privilegiando a segurança dos seus dados e a operacionalidade do seu sistema.

								li
									.item-grid--service-list---item
										.item-grid--service-list---title.item-animation
											p Web design
											
										.item-grid--service-list---icon.item-animation
											img(src=imgHref + "img/_content/icons/003-responsive-symbol-with-a-widescreen-monitor-a-cellphone-and-a-tablet.png", alt="")

										.item-grid--service-list---description.item-animation
											p A NSWS-Solution disponibiliza todos os serviços indispensáveis à sua presença na Internet. A possibilidade de ter um único interlocutor na disponibilização destes serviços, permite-lhe uma economia de meios, necessários ao desenvolvimento do seu negócio. Temos para si soluções como registo de domínio com contas de e-mails e alojamento Web com planos para pequenas, medias e grandes empresas com serviços extras bastante atractivos, desenvolvimento de paginas, aplicações e serviços Web com qualidade, profissionalismo quer sejam estáticos ou dinâmico, usando ferramentas que garantem uma óptima performance, estética, responsividade, tornando o site convidativo e de alta disponibilidade, facilmente localizável pelos motores de busca.

											p Garantir uma aplicação Web sempre disponível e confiável de que a mesma esta funcionando plenamente em todo e qualquer momento só é possível quando é implementada a segurança, desde a sua concepção, desenvolvimento ate a fase de publicação &quot;Go Live!&quot; por este motivo somos bastante rigorosos neste aspecto.

								li
									.item-grid--service-list---item
										.item-grid--service-list---title.item-animation
											p Software
											
										.item-grid--service-list---icon.item-animation
											img(src=imgHref + "img/_content/icons/005-cloud-backup-up-arrow.png", alt="")
											

										.item-grid--service-list---description.item-animation
											p Comercializamos e desenvolvemos uma série de softwares de acordo com as necessidades dos clientes, com preços muito mais competitivos, com planos de licenciamento exclusivos e isponibilidade de produtos para homologações com um atendimento diferenciado, simplicidade e agilidade no levantamento das modalidades de licenciamento adaptáveis ao seu negócio com propagações previstas na rapidez do seu crescimento. 



								li
									.item-grid--service-list---item
										.item-grid--service-list---title.item-animation
											p Segurança
											
										.item-grid--service-list---icon.item-animation
											img(src=imgHref + "img/_content/icons/008-shield.png", alt="")

										.item-grid--service-list---description.item-animation
											p Efectuamos um serviço completo de auditoria ao seu ambiente de segurança informática, indicando soluções e prestando apoio na melhoria contínua da sua segurança, visto que hoje os ataques são constantes, não basta instalar um antivírus em seus servidores e estações de trabalho, a sua empresa precisa e merece algo mais do que isso. Esteja sempre seguro, é preciso implementar uma política de segurança informática adequada à rede da sua empresa.

											p O nosso serviço de Segurança Informática permite-lhe encontrar respostas para os seus problemas de segurança.

											
							//- .item-section--button.item-animation
								a.button(href="#")
									span Conheça nossos serviços


		section.banner-squares--left-top#contact
			.item-banner-squares--banner(style="background-image: url("+imgHref+"img/coffee.jpg)")
				.item-section--title.item-animation
					h2 Contacto
				
				.item-banner-squares--text.item-animation
					p +244 925 934 090
					p +244 923 739 775

					p
						a(href="mailto:info@nswsolution.com") info@nswsolution.com


				.form-contact--center.item-animation
					form(action="", method="post")
						label Nome:
						input(type="text")

						label E-mail:
						input(type="text")

						label Mensagem:
						textarea

						input(type="submit")