extends ./layout.pug

block title
	- var titlePage = 'Home';

block vars
	- var bodyClass = 'home';
	- var lang = 'pt';


block content
	main.main
		section.banner--video
			video(autoplay, width="100%", muted, loop)
				source(src=baseHref + "videos/luanda.mp4" type="video/mp4")
					
			//- .item-banner--fullscreen(style="background-image: url(" + imgHref + "img/_content/angola.jpg);")
				//- .item-banner--fullscreen---primary
					h2 Temos expertise em soluções para internet
		
				//- .item-banner--fullscreen---second
					p Somos uma equipe com base em Angola

				.item-banner--fullscreen---downbutton
					a(href="#under-the-fold")
						img(src="img/arrow-dot.png", alt="")



		section.grid--alternate
			.container
				.row
					.col-xs-12
						.item-title
							h2 O que nós fazemos

				.card-grid--alternate
					.item-parallax-1
					.item-parallax-2
					.row
						.col-xs-12
							p Nós temos <b>soluções especializadas</b> em informática para empresas, cooperativas, profissionais liberais.
						
							p Contamos com uma <b>equipe altamente qualificada</b>, capaz de oferecer serviço de <b>ótima qualidade</b> por um <b>valor justo</b>.

		section.grid--portfolio
			.container
				.row
					.col-xs-12
						.item-section--title
							h2 Últimos trabalhos em web design

				.row(style="align-items: center;")
					.col-xs-12.col-sm-6
						.item-grid--portfolio---text
							.item-grid--portfolio---text----title
								p Coop Cae
								
							.item-grid--portfolio---text----description
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi tenetur qui est quo consequuntur, esse iure tempora delectus alias error vel hic nemo repudiandae quae, unde. Dignissimos animi, nemo facilis.

								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia quod, nobis. Ratione iusto id autem, repellat dolor optio mollitia error. Quam eligendi tempore quaerat, modi magnam repellendus, perspiciatis quis molestiae.

					.col-xs-12.col-sm-6
						.card-grid--portfolio
							ul
								li
									.item-grid--portfolio---image
										.item-grid--portfolio---screenshot
											.item-grid--portfolio---screenshot----mobile
												img(src=imgHref + "img/_content/screenshot/coop/mobile.png", alt="")
										.item-grid--portfolio---screenshot
											.item-grid--portfolio---screenshot----tablet
												img(src=imgHref + "img/_content/screenshot/coop/tablet.png", alt="")

										.item-grid--portfolio---screenshot
											.item-grid--portfolio---screenshot----notebook
												img(src=imgHref + "img/_content/screenshot/coop/notebook.png", alt="")


		section
			.container
				.row
					.col-xs-12
						.item-section--title
							h2 Serviços

				.row
					.col-xs-12
						.card-grid--service-list
							ul
								li
									.item-grid--service-list---item
										.item-grid--service-list---title
											p Network
											
										.item-grid--service-list---icon
											img(src=imgHref + "img/_content/icons/010-community.png", alt="")
											//- svg(viewBox="0 0 512 512")
												use(xlink:href="img/_content/icons/010-community.svg#Layer_1", alt="")

										.item-grid--service-list---description
											p Help desk
											p Backup
											p Manutenção


								li
									.item-grid--service-list---item
										.item-grid--service-list---title
											p Software
											
										.item-grid--service-list---icon
											img(src=imgHref + "img/_content/icons/005-cloud-backup-up-arrow.png", alt="")
											//- svg(viewBox="0 0 512 512")
												use(xlink:href="img/_content/icons/010-community.svg#Layer_1", alt="")

										.item-grid--service-list---description
											p Help desk
											p Backup
											p Manutenção


								li
									.item-grid--service-list---item
										.item-grid--service-list---title
											p Web design
											
										.item-grid--service-list---icon
											img(src=imgHref + "img/_content/icons/003-responsive-symbol-with-a-widescreen-monitor-a-cellphone-and-a-tablet.png", alt="")
											//- svg(viewBox="0 0 512 512")
												use(xlink:href="img/_content/icons/010-community.svg#Layer_1", alt="")

										.item-grid--service-list---description
											p Help desk
											p Backup
											p Manutenção


								li
									.item-grid--service-list---item
										.item-grid--service-list---title
											p Segurança
											
										.item-grid--service-list---icon
											img(src=imgHref + "img/_content/icons/008-shield.png", alt="")
											//- svg(viewBox="0 0 512 512")
												use(xlink:href="img/_content/icons/010-community.svg#Layer_1", alt="")

										.item-grid--service-list---description
											p Help desk
											p Backup
											p Manutenção


		section.banner-squares--left-top
			.item-banner-squares--banner(style="background-image: url("+imgHref+"img/coffee.jpg)")
				.item-section--title
					h2 Contacto
				
				.item-banner-squares--text
					p +244 925 934 090
					p +244 923 739 775

					p
						a(href="mailto:info@nswsolution.com") info@nswsolution.com