extends ./layout.pug

block title
	- var titlePage = 'Home';

block vars
	- var bodyClass = 'home';
	- var lang = 'pt';


block content
	main.main
		section.banner--video
			.item-video--fullscreen
				//- .js-video.videoWrapper
				video(autoplay, width="100%", muted, loop)
					source(src=imgHref + "videos/luanda.mp4" type="video/mp4")
					
				.item-banner--fullscreen---downbutton
					a(href="#under-the-fold")
						img(src="img/arrow-dot.png", alt="")
							
			//- .item-banner--fullscreen(style="background-image: url(" + imgHref + "img/_content/angola.jpg);")
				//- .item-banner--fullscreen---primary
					h2 Temos expertise em soluções para internet
		
				//- .item-banner--fullscreen---second
					p Somos uma equipe com base em Angola




		section.grid--alternate
			.container
				.row
					.col-xs-12
						.item-title
							h2 Sobre a NSWS Solution

				.card-grid--alternate
					.item-parallax-1
					.item-parallax-2
					.row
						.col-xs-12
							p Temos <strong>soluções especializadas</strong> em TI para pequenas, médias e grandes companhias, bem como profissionais ágeis.
						
							p Contamos com uma <b>equipe altamente qualificada</b>, capaz de oferecer serviço com <b>excelência</b> por um <b>baixo custo e grande benefício</b>.

		section
			.container
				.row
					.col-xs-12
						.item-section--button
							a.button(href="about-us.html")
								span Saiba mais

		section.grid--portfolio
			.container
				.row
					.col-xs-12
						.item-section--title
							h2 Últimos trabalhos em web design

						.relative
							.swiper-container.card-slider--single
								.swiper-wrapper
									.swiper-slide
										.card-grid--portfolio
											ul
												li
													.item-grid--portfolio---image
														.item-grid--portfolio---screenshot
															.item-grid--portfolio---screenshot----mobile
																img(src=imgHref + "img/_content/screenshot/coop/mobile.png", alt="")
														.item-grid--portfolio---screenshot
															.item-grid--portfolio---screenshot----tablet
																img(src=imgHref + "img/_content/screenshot/coop/tablet.png", alt="")

														.item-grid--portfolio---screenshot
															.item-grid--portfolio---screenshot----notebook
																img(src=imgHref + "img/_content/screenshot/coop/notebook.png", alt="")


									.swiper-slide
										.card-grid--portfolio
											ul
												li
													.item-grid--portfolio---image
														.item-grid--portfolio---screenshot
															.item-grid--portfolio---screenshot----mobile
																img(src=imgHref + "img/_content/screenshot/coop/mobile.png", alt="")
														.item-grid--portfolio---screenshot
															.item-grid--portfolio---screenshot----tablet
																img(src=imgHref + "img/_content/screenshot/coop/tablet.png", alt="")

														.item-grid--portfolio---screenshot
															.item-grid--portfolio---screenshot----notebook
																img(src=imgHref + "img/_content/screenshot/coop/notebook.png", alt="")


								.swiper-button-prev
								.swiper-button-next

							.swiper-pagination

				//- .row(style="align-items: center;")
					.col-xs-12.col-sm-6
						.item-grid--portfolio---text
							.item-grid--portfolio---text----title
								p Coop Cae
								
							.item-grid--portfolio---text----description
								p Website responsivo com design minimalista e moderno.

								p <strong>Link:</strong> 
									a(href="http://www.coop-cae.org") www.coop-cae.org


					.col-xs-12.col-sm-6
						.card-grid--portfolio
							ul
								li
									.item-grid--portfolio---image
										.item-grid--portfolio---screenshot
											.item-grid--portfolio---screenshot----mobile
												img(src=imgHref + "img/_content/screenshot/coop/mobile.png", alt="")
										.item-grid--portfolio---screenshot
											.item-grid--portfolio---screenshot----tablet
												img(src=imgHref + "img/_content/screenshot/coop/tablet.png", alt="")

										.item-grid--portfolio---screenshot
											.item-grid--portfolio---screenshot----notebook
												img(src=imgHref + "img/_content/screenshot/coop/notebook.png", alt="")

				.row
					.col-xs-12
						.grid--portfolio
							.item-section--button
								a.button(href="projects.html")
									span Saiba mais


		section
			.container
				.row
					.col-xs-12
						.item-section--title
							h2 Serviços

				.row
					.col-xs-12
						.card-grid--service-list
							ul
								li
									.item-grid--service-list---item
										.item-grid--service-list---title
											p Network
											
										.item-grid--service-list---icon
											img(src=imgHref + "img/_content/icons/010-community.png", alt="")
											//- svg(viewBox="0 0 512 512")
												use(xlink:href="img/_content/icons/010-community.svg#Layer_1", alt="")

										.item-grid--service-list---description
											p Possuimos uma equipa de profissionais especialistas em redes de diferentes tipos de sistemas informáticos.


								li
									.item-grid--service-list---item
										.item-grid--service-list---title
											p Software
											
										.item-grid--service-list---icon
											img(src=imgHref + "img/_content/icons/005-cloud-backup-up-arrow.png", alt="")
											//- svg(viewBox="0 0 512 512")
												use(xlink:href="img/_content/icons/010-community.svg#Layer_1", alt="")

										.item-grid--service-list---description
											p Comercializamos e desenvolvemos uma série de softwares de acordo com as necessidades dos clientes.


								li
									.item-grid--service-list---item
										.item-grid--service-list---title
											p Web design
											
										.item-grid--service-list---icon
											img(src=imgHref + "img/_content/icons/003-responsive-symbol-with-a-widescreen-monitor-a-cellphone-and-a-tablet.png", alt="")
											//- svg(viewBox="0 0 512 512")
												use(xlink:href="img/_content/icons/010-community.svg#Layer_1", alt="")

										.item-grid--service-list---description
											p Criamos sites responsivos, com design elegante e moderno. Desenvolvemos sites institucionais, hotsite, e-commerce e blog.


								li
									.item-grid--service-list---item
										.item-grid--service-list---title
											p Segurança
											
										.item-grid--service-list---icon
											img(src=imgHref + "img/_content/icons/008-shield.png", alt="")
											//- svg(viewBox="0 0 512 512")
												use(xlink:href="img/_content/icons/010-community.svg#Layer_1", alt="")

										.item-grid--service-list---description
											p Efectuamos um serviço completo de auditoria ao seu ambiente de segurança informática.

							.item-section--button
								a.button(href="#")
									span Conheça nossos serviços


		section.banner-squares--left-top#contact
			.item-banner-squares--banner(style="background-image: url("+imgHref+"img/coffee.jpg)")
				.item-section--title
					h2 Contacto
				
				.item-banner-squares--text
					p +244 925 934 090
					p +244 923 739 775

					p
						a(href="mailto:info@nswsolution.com") info@nswsolution.com