extends ./layout.pug

block title
	- var titlePage = 'Home';

block vars
	- var bodyClass = 'home';
	- var lang = 'pt';


block content
	main.main
		section.banner--video
			.item-video--fullscreen
				//- .js-video.videoWrapper
				video(autoplay, width="100%", muted, loop)
					source(src="http://nswsolution.com/videos/luanda.mp4" type="video/mp4")
					source(src="http://nswsolution.com/videos/luanda.webm" type="video/webm")
					source(src="http://nswsolution.com/videos/luanda.ogv" type="video/ogv")
					//- source(src=imgHref + "videos/luanda.mp4" type="video/mp4")
					
				.item-banner--fullscreen---downbutton
					a(href="#under-the-fold")
						img(src="img/arrow-dot.png", alt="")
						
							
			.item-slider
				.swiper-container.card-slider--fade
					.swiper-wrapper
						.swiper-slide
							.item-banner--fullscreen---primary
								h2 Serviços para facilitar a vida de sua empresa
					
							.item-banner--fullscreen---second
								p Temos uma equipa de profissionais Ágeis com vasta experiencia


						.swiper-slide
							.item-banner--fullscreen---primary
								h2 Qualidade e eficiência
					
							.item-banner--fullscreen---second
								p Possuimos uma gama de serviços e produtos informáticos


			//- .item-banner--fullscreen(style="background-image: url(" + imgHref + "img/_content/angola.jpg);")
				.item-banner--fullscreen---primary
					h2 Temos expertise em soluções para internet
		
				.item-banner--fullscreen---second
					p Somos uma equipe com base em Angola



		//- section.grid--alternate
			.container
				.row
					.col-xs-12
						.item-title
							h2 Sobre a NSWS Solution

				.card-grid--alternate
					.item-parallax-1
					.item-parallax-2
					.row
						.col-xs-12
							p Temos <strong>soluções especializadas</strong> em TI para pequenas, médias e grandes companhias, bem como profissionais ágeis.
						
							p Contamos com uma <b>equipe altamente qualificada</b>, capaz de oferecer serviço com <b>excelência</b> por um <b>baixo custo e grande benefício</b>.

		
		section#about
			.relative
				.item-parallax-3
				.item-parallax-4
				.item-parallax-5
			.container
				.item-alternate
					.row
						.col-xs-12.col-sm-6
							.item-alternate--texts-wrap
								.item-alternate--title.item-animation
									h3 Serviços para facilitar a vida de sua empresa
									
								.item-alternate--text.item-animation
									p A mais de oito anos, actuando no seu Core Business: Sistemas e Tecnologias de Informação, baseada numa equipa de profissionais Ágeis com vasta experiencia nas áreas de infraestruturas, virtualização, segurança, webdesign, desenvolvimento e integração.
								
								//- .item-alternate--button.item-animation
									.item-section--button
										a.button(href="about-us.html")
											span Saiba mais
						

						.col-xs-12.col-sm-6
							.item-alternate--image.item-animation
								img(src=imgHref + "img/_content/computer.png", alt="")


					.row
						.col-xs-12.col-sm-6
							.item-alternate--texts-wrap
								.item-alternate--title.item-animation
									h3 Qualidade e eficiência
									
								.item-alternate--text.item-animation
									p Criada com a missão de apoiar as pequenas, médias e grandes companhias nas suas necessidades tecnológicas, tendo uma gama de serviços e produtos informáticos, de modos a permitir às empresas o acesso a tecnologia de ponta ao melhor custo e beneficio.
								
								//- .item-alternate--button.item-animation
									.item-section--button
										a.button(href="about-us.html")
											span Saiba mais
						

						.col-xs-12.col-sm-6
							.relative
								.item-parallax-6
								.item-parallax-7
								.item-parallax-8
							.item-alternate--image.item-animation
								img(src=imgHref + "img/_content/computer2.png", alt="")



					.row
						.col-xs-12.col-sm-6
							.item-alternate--texts-wrap
								.item-alternate--title.item-animation
									h3 Sempre prontos a oferecer o melhor
									
								.item-alternate--text.item-animation
									p Precisa de consultoria, esclarecimento ou apoio para alguma tomada de decisão, marque já a sua primeira sessão de consulta sem qualquer compromisso ou custo preenchendo o formulário de contacto e bem-vindo!
								
								//- .item-alternate--button.item-animation
									.item-section--button
										a.button(href="about-us.html")
											span Saiba mais
						

						.col-xs-12.col-sm-6
							.relative
								.item-parallax-3
								.item-parallax-4
								.item-parallax-5
							.item-alternate--image.item-animation
								img(src=imgHref + "img/_content/computer3.png", alt="")
			



		//- section
			.container
				.row
					.col-xs-12
						.item-section--button
							a.button(href="about-us.html")
								span Saiba mais
		


		section.grid-mission
			.container
				.row
					.col-xs-12
						.card-grid--mission
							ul
								li.item-grid--mission---li.item-animation
									.item-grid--mission---icon
										svg#logo(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 511.999 511.999')
											circle(cx='10.06', cy='500.446', r='10.06')
											circle(cx='267.005', cy='245.308', r='10.04')
											path(d='M398.479 118.032c-8.071-8.072-18.802-12.516-30.216-12.516-11.414 0-22.146 4.446-30.216 12.516-16.661 16.662-16.661 43.772 0 60.433 8.332 8.331 19.272 12.495 30.216 12.495 10.941 0 21.886-4.166 30.216-12.495 16.661-16.662 16.661-43.772 0-60.433zm-14.197 46.234c-8.833 8.832-23.206 8.832-32.037 0-8.833-8.832-8.833-23.204 0-32.037a22.503 22.503 0 0 1 16.018-6.635 22.503 22.503 0 0 1 16.018 6.635c8.833 8.833 8.833 23.205.001 32.037zM125.409 411.45c-4.964-2.472-10.99-.451-13.462 4.512l-11.958 24.015c-5.2 10.441-15.658 17.423-27.296 18.219l-13.908.952c-2.351.157-3.897-1.014-4.612-1.729s-1.889-2.264-1.729-4.613l.952-13.907c.797-11.637 7.779-22.096 18.219-27.296l24.014-11.958c4.964-2.472 6.984-8.499 4.512-13.462-2.471-4.963-8.498-6.984-13.462-4.512l-24.014 11.958c-16.792 8.362-28.02 25.182-29.302 43.898l-.952 13.907a26.021 26.021 0 0 0 7.562 20.183 26.024 26.024 0 0 0 20.183 7.563l13.908-.952c18.716-1.281 35.536-12.508 43.898-29.302l11.958-24.014c2.472-4.964.452-10.99-4.511-13.462z')
											path(d='M505.07 8.18a23.246 23.246 0 0 0-17.793-6.639l-9.348.596c-83.819 5.351-162.262 45.81-215.215 111.004L240.71 140.23l-57.583-1.691a9.65 9.65 0 0 0-.294-.004c-45.668 0-88.603 17.784-120.896 50.076L2.959 247.59a10.04 10.04 0 0 0 6.584 17.125l124.844 6.414-5.09 6.267a10.039 10.039 0 0 0-1.026 11.127 233.734 233.734 0 0 0 6.144 10.617l-29.606 35.147a10.045 10.045 0 0 0-1.397 10.763c6.467 13.665 15.05 25.943 25.514 36.493 10.718 10.808 23.251 19.646 37.249 26.271a10.042 10.042 0 0 0 10.62-1.278c6.378-5.174 13.731-11.311 20.843-17.245 5.069-4.23 10.255-8.557 15.102-12.547a232.586 232.586 0 0 0 8.795 5.046 10.026 10.026 0 0 0 4.796 1.221c2.186 0 4.358-.712 6.156-2.108l6.843-5.31 6.442 125.37a10.041 10.041 0 0 0 10.023 9.526c2.615 0 5.183-1.023 7.101-2.942l58.979-58.979c32.293-32.293 50.076-75.227 50.076-120.896v-54.995l23.267-18.055c69.729-54.11 112.196-135.704 116.512-223.862l.239-4.886A23.262 23.262 0 0 0 505.07 8.18zM33.123 245.822l43.012-43.012c28.465-28.465 66.303-44.157 106.553-44.196l42.085 1.236-74.71 91.98-116.94-6.008zm151.651 128.052c-5.241 4.372-10.614 8.856-15.6 12.957-9.644-5.223-18.368-11.74-25.992-19.428-7.384-7.445-13.669-15.922-18.737-25.26l21.676-25.733a232.758 232.758 0 0 0 21.478 24.925l.018.017.006.007.009.008a232.765 232.765 0 0 0 27.641 23.761c-3.462 2.874-7.009 5.834-10.499 8.746zm167.101-46.202c0 40.305-15.695 78.197-44.196 106.698l-43.012 43.012-6.002-116.792 93.209-72.33v39.412zM491.678 29.779c-4.029 82.297-43.673 158.467-108.767 208.98l-157.46 122.189c-13.058-7.63-25.229-16.639-36.368-26.846l53.086-53.086c3.92-3.92 3.92-10.278 0-14.199-3.921-3.921-10.278-3.921-14.199 0l-53.036 53.036c-9.751-10.795-18.387-22.541-25.74-35.104L278.3 125.8c49.432-60.859 122.66-98.629 200.907-103.623l9.348-.596a3.151 3.151 0 0 1 2.423.904c.377.371 1 1.178.94 2.409l-.24 4.885z')


									.item-grid--mission---title
										h4 Missão

									.item-grid--mission---text
										p Aumentar o poder de acção de nossos clientes, oferecendo soluções eficientes para resolução dos seus problemas com profissionalismo e qualidade que satisfaçam as suas necessidades, tornando-os mais fortes e competitivos em seus respectivos mercados e/ou sectores.

								li.item-grid--mission---li.item-animation
									.item-grid--mission---icon
										svg#logo(xmlns='http://www.w3.org/2000/svg', width='512', height='512')
											path(d='M256 96C144.341 96 47.559 161.021 0 256c47.559 94.979 144.341 160 256 160 111.656 0 208.439-65.021 256-160-47.559-94.979-144.344-160-256-160zm126.225 84.852c30.082 19.187 55.572 44.887 74.719 75.148-19.146 30.261-44.639 55.961-74.719 75.148C344.428 355.257 300.779 368 256 368c-44.78 0-88.428-12.743-126.225-36.852C99.695 311.96 74.205 286.26 55.058 256c19.146-30.262 44.637-55.962 74.717-75.148a235.143 235.143 0 0 1 5.929-3.65C130.725 190.866 128 205.613 128 221c0 70.691 57.308 128 128 128 70.691 0 128-57.309 128-128 0-15.387-2.725-30.134-7.703-43.799a240.633 240.633 0 0 1 5.928 3.651zM256 205c0 26.51-21.49 48-48 48s-48-21.49-48-48 21.49-48 48-48 48 21.49 48 48z')

									.item-grid--mission---title
										h4 Visão

									.item-grid--mission---text
										p Ser uma companhia inovadora, que oferece produto com valor e qualidade, onde a tecnologia traz eficiência de forma a atender as mais diversas oportunidades de negócios.

										p Ser uma companhia inovadora, que oferece produto com valor e qualidade, onde a tecnologia traz eficiência de forma a atender as mais diversas oportunidades de negócios.


								li.item-grid--mission---li.item-animation
									.item-grid--mission---icon
										svg#logo(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 492.719 492.719')
											path(d='M492.719 166.008c0-73.486-59.573-133.056-133.059-133.056-47.985 0-89.891 25.484-113.302 63.569-23.408-38.085-65.332-63.569-113.316-63.569C59.556 32.952 0 92.522 0 166.008c0 40.009 17.729 75.803 45.671 100.178l188.545 188.553a17.17 17.17 0 0 0 24.284 0l188.545-188.553c27.943-24.375 45.674-60.169 45.674-100.178z')


									.item-grid--mission---title
										h4 Valores

									.item-grid--mission---text
										p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores molestias nihil illum praesentium deleniti! Distinctio doloribus voluptatibus doloremque dolor neque numquam illum enim maxime, veniam, explicabo aspernatur odio labore, corrupti.



		section.grid--portfolio#projects
			.container
				.row
					.col-xs-12
						.item-section--title.item-animation
							h2 Últimos trabalhos em web design

						.relative
							.swiper-container.card-slider--single
								.swiper-wrapper
									.swiper-slide
										.item-job--image
											img(src=imgHref + "img/_content/jobs/coop-1.jpg", alt="")

									.swiper-slide
										.item-job--image
											img(src=imgHref + "img/_content/jobs/coop-2.jpg", alt="")
														

								.swiper-button-prev
								.swiper-button-next

							.swiper-pagination




		section#services.no-lateral-gap
			.container-fluid
				.row
					.col-xs-12
						.item-section--title.item-animation
							h2 Serviços

				.row
					.col-xs-12
						.card-grid--service-list
							ul
								li(style="background-image: url("+imgHref+"img/_content/computer-network.png)")
									.item-grid--service-list---item
										.item-grid--service-list---title.item-animation
											p Network
											
										.item-grid--service-list---icon.item-animation
											img(src=imgHref + "img/_content/icons/010-community.png", alt="")

										.item-grid--service-list---description.item-animation
											p Com a evolução tecnológica constante, bem como as constantes mudanças que os decisores procuram, os recursos limitados, os desafios de capacidade e as restrições orçamentais estão no topo das suas preocupações. No entanto não deverá preocupar-se com a sua infra- estrutura. Isso faz parte do nosso trabalho. Com o aparecimento da cloudcomputing, da virtualização e da mobilidade, a NSWS-Solution está actualmente alinhada com as exigências e as tendências do mercado. Oferecemos a tecnologia, processos e as pessoas de que os clientes precisam para transformar as suas infra-estruturas de TI, alcançando eficiência, redução nos custos e outros resultados estratégicos para o negócio.

											p &nbsp;
											
											p Fizemos planificação e instalação de redes informáticas, temos a sua disposição uma equipa de profissionais especialistas em redes e sistemas informáticos com uma vasta experiência. Esta planificação é efectuada em conjunto com os clientes, respondendo às necessidades específicas de cada empresa. A manutenção de uma rede informática garante a estabilidade essencial para uma boa comunicação, quer a nível das comunicações de voz e de dados. Procuramos a melhor solução, com a garantia de uma óptima relação custo benefício, privilegiando a segurança dos seus dados e a operacionalidade do seu sistema.

								li(style="background-image: url("+imgHref+"img/_content/computer-web.png)")
									.item-grid--service-list---item
										.item-grid--service-list---title.item-animation
											p Web design
											
										.item-grid--service-list---icon.item-animation
											img(src=imgHref + "img/_content/icons/003-responsive-symbol-with-a-widescreen-monitor-a-cellphone-and-a-tablet.png", alt="")

										.item-grid--service-list---description.item-animation
											p A NSWS-Solution disponibiliza todos os serviços indispensáveis à sua presença na Internet. A possibilidade de ter um único interlocutor na disponibilização destes serviços, permite-lhe uma economia de meios, necessários ao desenvolvimento do seu negócio. Temos para si soluções como registo de domínio com contas de e-mails e alojamento Web com planos para pequenas, medias e grandes empresas com serviços extras bastante atractivos, desenvolvimento de paginas, aplicações e serviços Web com qualidade, profissionalismo quer sejam estáticos ou dinâmico, usando ferramentas que garantem uma óptima performance, estética, responsividade, tornando o site convidativo e de alta disponibilidade, facilmente localizável pelos motores de busca.

											p &nbsp;
											
											p Garantir uma aplicação Web sempre disponível e confiável de que a mesma esta funcionando plenamente em todo e qualquer momento só é possível quando é implementada a segurança, desde a sua concepção, desenvolvimento ate a fase de publicação &quot;Go Live!&quot; por este motivo somos bastante rigorosos neste aspecto.

								li(style="background-image: url("+imgHref+"img/_content/computer-software.png)")
									.item-grid--service-list---item
										.item-grid--service-list---title.item-animation
											p Software
											
										.item-grid--service-list---icon.item-animation
											img(src=imgHref + "img/_content/icons/005-cloud-backup-up-arrow.png", alt="")
											

										.item-grid--service-list---description.item-animation
											p Comercializamos e desenvolvemos uma série de softwares de acordo com as necessidades dos clientes, com preços muito mais competitivos, com planos de licenciamento exclusivos e isponibilidade de produtos para homologações com um atendimento diferenciado, simplicidade e agilidade no levantamento das modalidades de licenciamento adaptáveis ao seu negócio com propagações previstas na rapidez do seu crescimento. 



								li(style="background-image: url("+imgHref+"img/_content/computer-safety.png)")
									.item-grid--service-list---item
										.item-grid--service-list---title.item-animation
											p Segurança
											
										.item-grid--service-list---icon.item-animation
											img(src=imgHref + "img/_content/icons/008-shield.png", alt="")

										.item-grid--service-list---description.item-animation
											p Efectuamos um serviço completo de auditoria ao seu ambiente de segurança informática, indicando soluções e prestando apoio na melhoria contínua da sua segurança, visto que hoje os ataques são constantes, não basta instalar um antivírus em seus servidores e estações de trabalho, a sua empresa precisa e merece algo mais do que isso. Esteja sempre seguro, é preciso implementar uma política de segurança informática adequada à rede da sua empresa.

											p O nosso serviço de Segurança Informática permite-lhe encontrar respostas para os seus problemas de segurança.

											
							//- .item-section--button.item-animation
								a.button(href="#")
									span Conheça nossos serviços


		section.banner-squares--left-top#contact
			.item-banner-squares--banner(style="background-image: url("+imgHref+"img/coffee.jpg)")
				.item-section--title.item-animation
					h2 Contacto
				
				.item-banner-squares--text.item-animation
					p +244 925 934 090
					p +244 923 739 775

					p
						a(href="mailto:info@nswsolution.com") info@nswsolution.com


				.form-contact--center.item-animation
					form(action="", method="post")
						label Nome:
						input(type="text")

						label E-mail:
						input(type="text")

						label Mensagem:
						textarea

						input(type="submit")