extends ./layout.pug

block title
	- var titlePage = 'Home';

block vars
	- var bodyClass = 'home';
	- var lang = 'pt';


block content
	main.main
		section.banner--video
			.item-video--fullscreen
				//- .js-video.videoWrapper
				video(autoplay, width="100%", muted, loop)
					source(src=imgHref + "videos/luanda.mp4" type="video/mp4")
					
				.item-banner--fullscreen---downbutton
					a(href="#under-the-fold")
						img(src="img/arrow-dot.png", alt="")
							
			//- .item-banner--fullscreen(style="background-image: url(" + imgHref + "img/_content/angola.jpg);")
				//- .item-banner--fullscreen---primary
					h2 Temos expertise em soluções para internet
		
				//- .item-banner--fullscreen---second
					p Somos uma equipe com base em Angola




		section.grid--alternate
			.container
				.row
					.col-xs-12
						.item-title
							h2 Sobre a NSWS Solution

				.card-grid--alternate
					.item-parallax-1
					.item-parallax-2
					.row
						.col-xs-12
							p Temos <strong>soluções especializadas</strong> em TI para pequenas, médias e grandes companhias, bem como profissionais ágeis.
						
							p Contamos com uma <b>equipe altamente qualificada</b>, capaz de oferecer serviço com <b>excelência</b> por um <b>baixo custo e grande benefício</b>.

		section
			.container
				.row
					.col-xs-12
						.item-section--button
							a.button(href="about-us.html")
								span Saiba mais

		section.grid--portfolio
			.container
				.row
					.col-xs-12
						.item-section--title
							h2 Últimos trabalhos em web design

						.relative
							.swiper-container.card-slider--single
								.swiper-wrapper
									.swiper-slide
										.card-grid--portfolio
											ul
												li
													.item-grid--portfolio---image
														.item-grid--portfolio---screenshot
															.item-grid--portfolio---screenshot----mobile
																img(src=imgHref + "img/_content/screenshot/coop/mobile.png", alt="")
														.item-grid--portfolio---screenshot
															.item-grid--portfolio---screenshot----tablet
																img(src=imgHref + "img/_content/screenshot/coop/tablet.png", alt="")

														.item-grid--portfolio---screenshot
															.item-grid--portfolio---screenshot----notebook
																img(src=imgHref + "img/_content/screenshot/coop/notebook.png", alt="")


									.swiper-slide
										.card-grid--portfolio
											ul
												li
													.item-grid--portfolio---image
														.item-grid--portfolio---screenshot
															.item-grid--portfolio---screenshot----mobile
																img(src=imgHref + "img/_content/screenshot/coop/mobile.png", alt="")
														.item-grid--portfolio---screenshot
															.item-grid--portfolio---screenshot----tablet
																img(src=imgHref + "img/_content/screenshot/coop/tablet.png", alt="")

														.item-grid--portfolio---screenshot
															.item-grid--portfolio---screenshot----notebook
																img(src=imgHref + "img/_content/screenshot/coop/notebook.png", alt="")


								.swiper-button-prev
								.swiper-button-next

							.swiper-pagination

				//- .row(style="align-items: center;")
					.col-xs-12.col-sm-6
						.item-grid--portfolio---text
							.item-grid--portfolio---text----title
								p Coop Cae
								
							.item-grid--portfolio---text----description
								p Website responsivo com design minimalista e moderno.

								p <strong>Link:</strong> 
									a(href="http://www.coop-cae.org") www.coop-cae.org


					.col-xs-12.col-sm-6
						.card-grid--portfolio
							ul
								li
									.item-grid--portfolio---image
										.item-grid--portfolio---screenshot
											.item-grid--portfolio---screenshot----mobile
												img(src=imgHref + "img/_content/screenshot/coop/mobile.png", alt="")
										.item-grid--portfolio---screenshot
											.item-grid--portfolio---screenshot----tablet
												img(src=imgHref + "img/_content/screenshot/coop/tablet.png", alt="")

										.item-grid--portfolio---screenshot
											.item-grid--portfolio---screenshot----notebook
												img(src=imgHref + "img/_content/screenshot/coop/notebook.png", alt="")

				.row
					.col-xs-12
						.grid--portfolio
							.item-section--button
								a.button(href="projects.html")
									span Saiba mais


		section
			.container-fluid
				.row
					.col-xs-12
						.item-section--title
							h2 Serviços

				.row
					.col-xs-12
						.card-grid--service-list
							ul
								li
									.item-grid--service-list---item
										.item-grid--service-list---title
											p Network
											
										.item-grid--service-list---icon
											img(src=imgHref + "img/_content/icons/010-community.png", alt="")
											//- svg(viewBox="0 0 512 512")
												use(xlink:href="img/_content/icons/010-community.svg#Layer_1", alt="")

										.item-grid--service-list---description
											p Fizemos planificação e instalação de redes informáticas, temos a sua disposição uma equipa de profissionais especialistas em redes e sistemas informáticos com uma vasta experiência. Esta planificação é efectuada em conjunto com os clientes, respondendo às necessidades específicas de cada empresa. A manutenção de uma rede informática garante a estabilidade essencial para uma boa comunicação, quer a nível das comunicações de voz e de dados. Procuramos a melhor solução, com a garantia de uma óptima relação custo benefício, privilegiando a segurança dos seus dados e a operacionalidade do seu sistema.

											//- p Possuimos uma equipa de profissionais especialistas em redes de diferentes tipos de sistemas informáticos.


								li
									.item-grid--service-list---item
										.item-grid--service-list---title
											p Software
											
										.item-grid--service-list---icon
											img(src=imgHref + "img/_content/icons/005-cloud-backup-up-arrow.png", alt="")
											//- svg(viewBox="0 0 512 512")
												use(xlink:href="img/_content/icons/010-community.svg#Layer_1", alt="")

										.item-grid--service-list---description
											p Comercializamos e desenvolvemos uma série de softwares de acordo com as necessidades dos clientes. Temos ao dispor softwares de gestão, segurança, monitorização, e Backup da informação. Disponibilizamos diversos programas de aquisição de software na plataforma Microsoft Windows que facilitam a compra dos produtos com preços muito mais competitivos, com planos de licenciamento exclusivos e disponibilidade de produtos para homologações, com um atendimento diferenciado, simplicidade e agilidade no levantamento das modalidades de licenciamento adaptáveis ao seu negócio com propagações previstas na rapidez do seu crescimento.


											//- p Comercializamos e desenvolvemos uma série de softwares de acordo com as necessidades dos clientes.


								li
									.item-grid--service-list---item
										.item-grid--service-list---title
											p Web design
											
										.item-grid--service-list---icon
											img(src=imgHref + "img/_content/icons/003-responsive-symbol-with-a-widescreen-monitor-a-cellphone-and-a-tablet.png", alt="")
											//- svg(viewBox="0 0 512 512")
												use(xlink:href="img/_content/icons/010-community.svg#Layer_1", alt="")

										.item-grid--service-list---description
											p Temos para si soluções como registo de domínio com contas de e-mails e alojamento Web com planos para pequenas, medias e grandes empresas com serviços extras bastante atractivos, desenvolvimento de paginas e aplicações Web com qualidade, profissionalismo quer sejam estáticos ou dinâmico, usando ferramentas que garantem uma óptima performance e estética tornando o site convidativo e de alta disponibilidade, facilmente localizável pelos motores de busca. Garantir uma aplicação Web sempre disponível e confiável de que a mesma esta funcionando plenamente em todo e qualquer momento só é possível quando é implementada a segurança, por este motivo somos bastante rigorosos neste aspecto.


											//- p Criamos sites responsivos, com design elegante e moderno. Desenvolvemos sites institucionais, hotsite, e-commerce e blog.


								li
									.item-grid--service-list---item
										.item-grid--service-list---title
											p Segurança
											
										.item-grid--service-list---icon
											img(src=imgHref + "img/_content/icons/008-shield.png", alt="")
											//- svg(viewBox="0 0 512 512")
												use(xlink:href="img/_content/icons/010-community.svg#Layer_1", alt="")

										.item-grid--service-list---description
											p Efectuamos um serviço completo de auditoria ao seu ambiente de segurança informática, indicando soluções e prestando apoio na melhoria da sua segurança informática, visto que hoje os ataques são constantes. Não basta instalar um antivírus nos computadores da sua empresa, mais para que a sua empresa esteja sempre segura é preciso implementar uma politica de segurança informática adequada à rede da sua empresa. O nosso serviço de Segurança Informática permite-lhe encontrar respostas para os seus problemas de segurança.

											
											//- p Efectuamos um serviço completo de auditoria ao seu ambiente de segurança informática.

							.item-section--button
								a.button(href="#")
									span Conheça nossos serviços


		section.banner-squares--left-top#contact
			.item-banner-squares--banner(style="background-image: url("+imgHref+"img/coffee.jpg)")
				.item-section--title
					h2 Contacto
				
				.item-banner-squares--text
					p +244 925 934 090
					p +244 923 739 775

					p
						a(href="mailto:info@nswsolution.com") info@nswsolution.com


				.form-contact--center
					form(action="", method="post")
						label Nome:
						input(type="text")

						label E-mail:
						input(type="text")

						label Mensagem:
						textarea

						input(type="submit")